.App {
  display: flex;
}

.App > * {
  width: 100%;
  padding: 2rem;
}

.Form {
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 20rem;
  height: 2.2rem;
  font-size: 1.2rem;
}

.Input {
  margin-bottom: 1rem;
}

.Invoice {
  /* width: 50%;
  margin: auto; */
}


.Invoice_info {
  display: flex;
  justify-content: space-between;
}

.Name {
  font-weight: 700;
  font-size: 1.2rem;
}

.Invoice_info > div > p {
  margin: 0;
}

.Address {
  width: 10rem;
  line-height: 1.3rem;
}

.Invoice_sum {
  text-align: right;
  font-weight: 700;
}

.InvoiceNo {
  font-size: 1.3rem;
}

.InvoiceTitle {
  font-weight: 500;
  font-size: 2.2rem;
}

.BalanceDue {
  margin: 3rem 0;
}

.BalanceDue > p {
  margin: 0;
}

.TotalDue {
  font-size: 1.7rem;
}

.Billing {
  display: flex;
  justify-content: space-between;
  gap: 12%;
}

.Billing > div {
  /* width: 50%; */
}

.to:first-child {
  align-self: flex-end;
}

.to > p {
  margin: 0;
  margin-bottom: 4px;
}

.to > p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}

.from {
  text-align: right;
}

.from > div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 500;
}

.from > div > span:first-child {
  width: 38%;
  align-items: end;
  align-content: end;
}

.from > div > span:last-child {
  width: 58%;
}

.List {
  width: 100%;
  margin-top: 15px;
}

.List > table {
  width: 100%;
  border-collapse: collapse;
  font-size: .8rem;
}

.thead {
  background-color: #383333;
  color: white;
  height: 40px;
}

td, th {
  padding: 8px;
  text-align: left;
}

th {
  min-width: 45px;
}

tr {
  border-bottom: .5px solid #383333; 
}

.btn {
  padding: .8rem 6rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

.Total {
  display: flex;
  margin-top: 20px;
}

.Total > div {
  width: 50%;
}

.TotalSum {
  display: flex;
  margin: 0;
}

.TotalSum > * {
  width: 50%;
  text-align: right;
  margin: 0;
  padding: 12px 0;
}

.TotalSum > p:last-child {
  padding-right: 8px;
}

.TotalSum:last-child {
  background-color: rgba(0, 0, 0, .07);
  font-weight: 700;
}

.sec {
  font-weight: 700;
}

.ItemInputs {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-top: 2rem;
}